@use "variables"
@use "mixins"

.section-contact
  padding-bottom: 2rem

  h2
    @include mixins.subtitle

  .contact-group
    @include mixins.center
    gap: 2rem
    margin-top: 2rem

    .whatsapp, .github, .instagram, .linkedin
      color: variables.$gray
      transition: all 500ms ease

    .whatsapp:hover
      color: variables.$whatsapp
      transform: scale(1.1)

    .instagram:hover
      color: variables.$instagram
      transform: scale(1.1)

    .github:hover
      color: variables.$github
      transform: scale(1.1)

    .linkedin:hover
      color: variables.$linkedin
      transform: scale(1.1)
