@use "variables"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: system-ui, sans-serif

body
  color: variables.$gray
  background: variables.$dark
  max-width: 650px
  margin: 0 auto
  padding: 0 2rem
