header
  .app-title
    text-align: center
    padding: 2rem 0

  .user-info
    display: flex
    align-items: center

    img
      width: 80px
      margin-right: 2rem
      border-radius: 50%

    h1
      font-size: 24px
