@use "variables"
@use "mixins"

header
  @include mixins.lineSeparator

  .app-title
    @include mixins.center
    font-family: 'Enconde Sans Condensed', sans-serif
    color: variables.$primary
    gap: .6rem
    padding: 2rem 0
    cursor: pointer

  .user-info
    @include mixins.itemsCenter
    flex-direction: column

    .profile
      display: flex
      align-items: center
      justify-content: center

      img
        width: 9rem
        border-radius: 50%
        position: absolute

      .border
        height: 10rem
        width: 10rem
        border: 0.125rem solid variables.$primary
        border-radius: 50%
        position: relative
        animation-name: rotate
        animation-duration: 3s
        animation-iteration-count: infinite
        animation-timing-function: linear
        box-shadow: 0 0 2rem variables.$primary

        &::after
          content: ''
          height: 0.5rem
          width: 0.5rem
          background-color: variables.$primary
          position: absolute
          border-radius: 50%
          top: -5px
          left: 50%
          transform: translateX(-50%)

    div
      text-align: center
      cursor: pointer

      .user-name
        @include mixins.textBold
        color: variables.$primary
        font-size: 1.5rem
        margin-top: 1.6rem

      .user-description
        @include mixins.textLight
        letter-spacing: .3rem
        text-transform: uppercase
        margin-top: .2rem

  @keyframes rotate
    from
      transform: rotate(0deg)

    to
      transform: rotate(360deg)
