@use "variables"
@use "mixins"

header
  @include mixins.lineSeparator

  .app-title
    @include mixins.center
    gap: .6rem
    padding: 2rem 0

  .user-info
    @include mixins.itemsCenter
    flex-direction: column

    img
      width: 9rem
      border-radius: 50%
      border: 0.25rem solid variables.$primary

    div
      text-align: center

      .user-name
        color: variables.$primary
        font-size: 1.5rem
        margin-top: 1rem

      .user-description
        letter-spacing: .3rem
        text-transform: uppercase
