@use "variables"

@mixin subtitle
  color: variables.$primary
  text-align: center
  text-transform: uppercase
  font-size: 16px
  margin-top: 1rem
  @include textBold

@mixin lineSeparator
  padding-bottom: 1.5rem
  border-bottom: .125rem solid variables.$primary

@mixin center
  display: flex
  align-items: center
  justify-content: center

@mixin itemsCenter
  display: flex
  align-items: center

@mixin textBold
  font-family: 'Poppins', sans-serif
  font-weight: 600

@mixin textLight
  font-family: 'Poppins', sans-serif
  font-weight: 400
