@use "variables"
@use "mixins"

.section-techs
  @include mixins.lineSeparator

  h2
    @include mixins.subtitle

  .tech-group
    display: flex
    flex-wrap: wrap
    column-gap: .4rem
    row-gap: .4rem
    margin-top: 1rem
