@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, black, rgb(0, 3, 39));
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

.container {
    min-height: 100%;
    width: 580px;
    max-width: 90%;
    margin: 0 auto;
}

.avatar {
    animation: 1.5s fromTop forwards;
}

.contacts {
    animation: 1.5s fromBottom forwards;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

body::-webkit-scrollbar-thumb {
    background-color: #07b6d5;
}